@model MyAspNetMvcApp.Models.Lessons.Song

<style>
    #bs div {
        border: 2px solid gray;
    }
</style>

<div id="bs">
    <div class="row">
        <div class="col-md-8 col-xs-6">
            CONTENT HERE 8
        </div>
        <div class="col-md-4 col-xs-6">
            CONTENT HERE 4
        </div>
        <div class="col-md-3">
            CONTENT HERE 3
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            CONTENT HERE 5
        </div>
    </div>

</div>
